<!DOCTYPE html>
<html>
<head>
  <title>Leanbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, "nested_form" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="float_bar">
    <div class="float_bar_content">

      <% if current_admin %>
          <%= link_to(current_admin.email + ' 登出', destroy_user_session_path, :method => :delete) %>
      <% else %>
          <%= link_to('登入', new_session_path(:admin)) %>
      <% end %>
    </div>

</div>



<div class="container">

      <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert alert_"+name %>
      <% end -%>

    <%= yield %>
</div>

<script>
    $(document).ready(function() {

        $("select").each(function(){
            $(this).removeClass('form-control');
        });


        $("select").select2();

    });
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253872782'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253872782%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
